@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #030308;
  --text-main: #ffffff;
  --text-muted: #a1a1aa;
  --accent-blue: #083BF7; /* Azul eléctrico requerido */
  --accent-blue-glow: rgba(8, 59, 247, 0.5);
  
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;
  
  --glass-bg: rgba(255, 255, 255, 0.03);
  --glass-border: rgba(255, 255, 255, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}
